//IMPORTS
@import "../global/color";

/*App Layout Styles*/

.app-main {
  display: flex;
  width: 100%;
  height: 100%;
}

.app-main-container {
  @include display-flex(flex, column, nowrap);
  background-color: $primary-background-color;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-main-content-wrapper {
  @include display-flex(flex, column, nowrap);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
