//IMPORTS
@import "../global/color";
/* Card styles
   ========================================================================== */

.card {
  display: flex;
  background-color: $secondary-background-color;
  box-shadow: 0 0 3px 1px #eaeaea;
}
