.picture-card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.picture-card-list__item {
  transition: transform 0.2s;
  width: 23%;
  margin-bottom: 1rem;
  @media screen and (max-width: 575px) {
    width: 48% !important;
  }
}

.picture-card-list__item:hover {
  transform: scale(1.1);
}
