/*App Color Styles*/

//General colors
$primary-color: #42caf2;
$secondary-color: #ffffff;
$third-color: #a4a4a4;

//Text colors
$primary-text-color: #333333;

//Background colors
$primary-background-color: #f9f9f9;
$secondary-background-color: #ffffff;
