

$font-family-base: Arial, serif; //Default global font-family

$font-size-base: 0.875rem; // Assumes the browser default, typically `14px`
$font-size-lg: ($font-size-base + 0.25); //18px
$font-size-md: ($font-size-base + 0.125); //16px
$font-size-sm: ($font-size-base - 0.125); //12px


$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;
